.NavBar-app {
    position: fixed;
    width: 100vw;
    z-index: 1;
    height: 70px;
    color: aliceblue;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}